{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    {% if query %}
        <p>
            {{ query.name}} ({{ query.symbol }}) | {{ query.price | usd }}
        </p>
    {% else %}
        <form action="/quote", method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus required class="form-control" name="symbol" placeholder="Symbol" type="text">
            </div>
            <button class="btn btn-success" type="submit">Quote</button>
        </form>
    {% endif %}
{% endblock %}